body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #393E46;
}

h1 {
  margin: 0 auto 0 auto; /* 20px - top, auto - right, 0 - bototm, auto - left (clockwise) */
  font-family: 'Bebas Neue', cursive;
  color: #00ADB5;
  font-size: 3.75rem;

}

h2 {
  font-family: 'Montserrat', sans-serif;
    color: #00ADB5;
    font-size: 1.5rem;
    font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  }



p {
  color: #EEEEEE;
  text-align: center;
  line-height: 2;
}

hr {
  border: dotted #EEEEEE 6px;
  border-bottom: none;
  width: 8%;
  margin: 50px auto 50px auto;
}

a{

color: #EEEEEE;

* {
  box-sizing: border-box;
}

}
.description {
  color: #00ADB5;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-container {
  line-height: 2
}

.bottom-container {
  background-color: #222831;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: auto;
  }

.web-img {
 height: 15%;
 width: 15%;
 margin: 0 auto ;
 display: block;

}

.mobile-img {
  height: 15%;
  width: 15%;
  margin: 0 auto;
  display: block;


}

.description {
  width: 50%;
  color: #EEEEEE;
  margin: auto auto 50px auto;
}

.contact-me {
  width: 40%;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 0;
}



.btn {
  background: #00ADB5;
  background-image: -webkit-linear-gradient(top, #00ADB5, #393E46);
  background-image: -moz-linear-gradient(top, #00ADB5, #393E46);
  background-image: -ms-linear-gradient(top, #00ADB5, #393E46);
  background-image: -o-linear-gradient(top, #00ADB5, #393E46);
  background-image: linear-gradient(to bottom, #00ADB5, #393E46);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #327d80;
  background-image: -webkit-linear-gradient(top, #327d80, #97cecf);
  background-image: -moz-linear-gradient(top, #327d80, #97cecf);
  background-image: -ms-linear-gradient(top, #327d80, #97cecf);
  background-image: -o-linear-gradient(top, #327d80, #97cecf);
  background-image: linear-gradient(to bottom, #327d80, #97cecf);
  text-decoration: none;
}
